/*style sheet for Group Project LKM file */
*,
 *:before,
 *:after {
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }


#map {
	height: 100%;
}

/*===================================================
Sticky Footer
===================================================
*/
* {
	margin: 0;
}

html, body {
	height: 100%;
}

.options-box {
	background: #fff;
	border: 1px solid #999;
	border-radius: 3px;
	height: 100%;
	line-height: 35px;
	padding: 10px 10px 30px 10px;
	text-align: left;
	width: 340px;
}

.page-wrap {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -20px;
}

.page-wrap:after {
	content: "";
	display: block;
}

.site-footer, .page-wrap:after {
	height: 20px;
	color: #fff;
}


.site-footer {

	line-height: 15px;
	font-size: 13px;
	text-align: center;
}